@font-face {
    font-family: medium;
    src: url("./components/fonts/Udemy-Sans-Regular-v1.woff2");

}
@font-face {
    font-family: bold;
    src: url("./components/fonts/Udemy-Sans-Bold-v1.woff2");
}

@font-face {
    font-family: boldwoff;
    src: url("./components/fonts/SuisseWorks-Bold-v1.woff2");
}
